<?xml version="1.0" encoding="US-ASCII"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:breeze="http://www.icolumbo.eu/2013/breeze"
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.icolumbo.eu/2013/breeze http://www.icolumbo.eu/2013/breeze.xsd
		">

	<description>Breeze namespace configuration alternative.</description>

	<breeze:topology id="demo">
		<breeze:spout id="feed" beanType="java.util.Random" signature="nextLong()" outputFields="number"/>
		<breeze:bolt id="greet" beanType="com.example.Greeter" signature="greet(number)" outputFields="heading"/>
		<breeze:bolt id="mark" beanType="com.example.Marker" signature="mark(number)" outputFields="source isEven"/>
		<breeze:bolt id="register" beanType="com.example.Register" signature="write(heading, isEven, source)"/>
	</breeze:topology>

</beans>